/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/* Body Styles */
body {
  font-family: 'M PLUS Rounded 1c', sans-serif; /* Use the imported font or fallback to a system font */
  background: linear-gradient(-45deg, #000000, #171717, #1a1a1a, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*Header*/


#wrapper {
  padding-right: 100px;
  padding-top: 50px;
  padding-left: 100px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 100px;
}

h1 {
  font-size: 50px;
  color: white;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 25px;
}

p {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

img {
  border: 5px solid #ffffff;
  height: auto; 
  max-width: 100%;
}

p1 {
  font-size: 20px;
  color: white;
}

p2 {
  font-size: 20px;
  color: white;
  align-items: center;
}
.row {
  font-size: 0; /* Remove white space between inline-block elements */
}

.image-container {
  display: inline-block;
  width: calc(33.33% - 20px); /* 33.33% width for each container with spacing */
  margin: 0 10px 20px; /* Adjust spacing between containers */
  text-align: center;
  vertical-align: top; /* Align containers to the top */
  font-size: initial; /* Reset font size */
}

.image-container img {
  width: 100px; /* Ensure images don't exceed container width */
}
div {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 50px;
  margin-left: 50px;
}