body {
  background: linear-gradient(-45deg, #000000, #171717, #1a1a1a, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*Header*/

#wrapper {
  padding: 50px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}

h1 {
  font-size: 50px;
  color: white;
}

p {
  font-size: 20px;
  color: white;
}

img {
  border: 5px solid #ffffff;
  height: auto; 
  max-width: 100%

}

p1 {
  font-size: 20px;
  color: white;
}

p2 {
  font-size: 20px;
  color: white;
  align-items: center;
}

h1 {
  padding-top: 20px;
}

#contact {
color: white;
align-items: flex-end;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

p {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}